<!-- Login/Register/Forgot username/password Modal forms
	-  Hidded by default to be opened through modal
  -  For faster loading we put all forms at the bottom of page -->
  
  <!--Login buttons-->  
  <div class="five columns offset-by-one">
    <span class="hide-for-small space-b-50"></span>
    <ul class="button-group radius right login-buttons">
      <li><a href="#" data-reveal-id="login_panel" class="small secondary button radius"><i class="icon-user"></i> LOG IN</a></li>
      <li><a href="#" data-reveal-id="register_panel" class="small button radius"><i class="icon-group"></i> SIGN UP</a></li>
    </ul>
  </div>
  <!--end login buttons-->

  
  <div class="twelve columns">
    <div class="row">
      
     <!--Form wrapper-->
     <div class="five columns form-wrapper">
      <div class="form-header">
        <p class="lead text-resize">Serious dating with <strong>SweetDate4u</strong><br>Your perfect match is just a click away</p>
      </div>
      <!--Search form-->
      <form action="#" method="post" class="custom form-search">
        <div class="row">
          <div class="five mobile-four columns">
            <label class="right inline">I am:</label>
          </div>
          <div class="seven mobile-four columns">
            <select class="expand">
              <option selected="selected">Man</option>
              <option>Woman</option>
            </select>
          </div>
        </div><!--end row-->
        <div class="row">
          <div class="five mobile-four columns">
            <label class="right inline">Searching for:</label>
          </div>
          <div class="seven mobile-four columns">
            <select class="expand">
              <option selected="selected">Woman</option>
              <option>Man</option>
            </select>
          </div>
        </div><!--end row-->
        <div class="row">
          <div class="five mobile-one columns">
            <label class="right inline">Age:</label>
          </div>
          <div class="three mobile-one columns">
            <select class="expand customDropdown">
              <option selected="selected">18</option>
              <option>19</option>
            </select>
          </div>
          <div class="one mobile-one columns text-center">
            <label class="inline">to</label>
          </div>
          <div class="three mobile-one columns">
            <select class="expand customDropdown">
              <option selected="selected">29</option>
              <option>30</option>
            </select>
          </div>
        </div><!--end row-->
        
        <div class="row">
          <div class="seven offset-by-five columns"><button class="button radius"><i class="icon-search"></i> &nbsp;SEARCH</button></div>
        </div>
        <span class="notch"></span>
      </form>
      <!--end search form-->
      <!--Form footer-->
      <div class="form-footer silver-bg">
        <p><em>or</em> <strong>choose from last profile entries</strong>
          <span class="right hide-for-small">
            <a href="#" id="profile-thumbs-prev"><i class="icon-circle-arrow-left icon-large"></i></a>&nbsp;
            <a href="#" id="profile-thumbs-next"><i class="icon-circle-arrow-right icon-large"></i></a>
          </span>
        </p>
        <div class="clearfix"></div>
        
        <div class="carousel-profiles responsive">
          <ul id="profile-thumbs">
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_01.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_02.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_03.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_04.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_05.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_06.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_07.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_08.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_09.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_10.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_11.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_12.jpg" alt=""></a></li>
            <li><a href="#"><img src="/assets/images/profile-carousel/thumb_13.jpg" alt=""></a></li>
          </ul>
        </div><!--end carousel-profiles-->
      </div><!--end form-footer-->
      
    </div><!--end form-wrapper-->
  </div><!--end row-->
</div><!--end twelve-->